@media (min-width:576px) {
    .search-icon {
        position: absolute;
        width: 45px;
        background-color: #FF4A52;
        right: 45px;
        bottom: 0;
        top: 0;
        justify-content: center;
        align-items: center;
    }
    .berger-menu {
        position: absolute;
        background-color: #1EC6B6;
        width: 45px;
        justify-content: center;
        align-items: center;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
    }
    .search-icon a {
        color: white !important;
    }
}
@media (min-width:768px) {}
@media (min-width:992px) {
    nav li {
        display: inline-block;
    }
    .berger-menu {
        display: none !important;
    }
    .search-icon {
        right: 0;
    }
    .berger-menu {
        display: none !important;
    }
   
}
@media (min-width:1200px) {
    .search-icon {
        width: 100px;
    }
    .search-bar {
        flex-direction: row;
        justify-content: center;

    }
    .search-form {
        flex-direction: row;
        justify-content: center;
    }
}
