@import url(../Icon/fontawesome-pro-6.1.1-web/all.min.css);

* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}
